html, body
{
  background: #115F11;
}

body
{
  padding: 5em;
}

.card
{
  background: #FFF;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  float: left;
  height: 300px;
  margin: 0.5em;
  position: relative;
  text-indent: -9999em;
  width: 200px;
}

.card::before, .card::after
{
  display: block;
  content: '';
  font-family: Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  padding: 0.1em 0.2em;
  position: absolute;
}

.card::before
{
  right: 0;
}

.card::after
{
  bottom: 0;
  left: 0;
}

.card::before, .card::after
{
  content: attr(data-rank);
  text-indent: 0;
}

.card.club
{
  background-image: url('../images/club.png');
}

.card.spade
{
  background-image: url('../images/spade.png');
}

.card.heart
{
  background-image: url('../images/heart.png');
}

.card.diamond
{
  background-image: url('../images/diamond.png');
}
