/* =OUTER
------------------------------------------------------- */

html, body
{
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body
{
  background: #047740 url('../images/felt.png') repeat;
}

#wrapper
{
  height: 90%;
  margin: 0 auto;
  max-width: 50em;
  padding: 5%;
  position: relative;
}

h2
{
  left: -1000em;
  position: absolute;
}

/* =CARD
------------------------------------------------------- */

.cards
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200%;
}

.card
{
  background: #FFF;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  box-shadow: -3px 0 0 rgba(0, 0, 0, 0.2);
  float: left;
  height: 9em;
  margin: 0;
  margin-left: -5em;
  position: relative;
  text-indent: -9999em;
  width: 6.5em;
}

.card:first-child
{
  box-shadow: none;
  margin-left: 0;
}

.card::before, .card::after
{
  display: block;
  content: '';
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.1em 0.2em;
  position: absolute;
}

.card::before
{
  right: 0;
  top: 0;
}

.card::after
{
  bottom: 0;
  left: 0;
}

.card::before, .card::after
{
  content: attr(data-rank);
  text-indent: 0;
}

.card.clubs
{
  background-image: url('../images/club.png');
}

.card.spades
{
  background-image: url('../images/spade.png');
}

.card.hearts
{
  background-image: url('../images/heart.png');
}

.card.diamonds
{
  background-image: url('../images/diamond.png');
}

.card.facedown
{
  background-color: blue;
  background-image: none;
}

.hand
{
  clear: both;
  height: 9em;
  margin-bottom: 2em;
  position: relative;
}

.pip-total
{
  background: #1356C1;
  border-radius: 1em;
  color: #FFF;
  display: none;
  font-weight: bold;
  height: 1.5em;
  padding-top: 0.5em;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 2em;
}

.pip-total.active
{
  display: block;
}

/* =DEALER
------------------------------------------------------- */

#dealer-info
{
  margin-bottom: 1em;
}

#dealer-picture
{
  background: red;
  border-radius: 5em;
  height: 5em;
  width: 5em;
}

#dealer-dialog
{
  background: #FFF;
  border-radius: 8px;
  height: 3.25em;
  margin-top: 1.25em;
  padding: 1em;
  position: relative;
}

#dealer-dialog::before
{
  border-bottom: 0.9375em solid #FFF;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  content: '';
  display: block;
  height: 0;
  left: 2.03125em;
  position: absolute;
  top: -0.625em;
  width: 0;
}

/* =PLAYER-CONTROLS
------------------------------------------------------- */

#player-controls
{
  clear: both;
  display: none;
}

.player-control
{
  background: #FFF;
  border-radius: 0.5em;
  border: 0;
  cursor: pointer;
  font-size: 1em;
  height: 3em;
  padding: 0.5em;
  width: 47%;
}

#action-hit
{
  float: left;
}

#action-stand
{
  float: right;
}

#player-controls.active
{
  display: block;
}

/* =PLAYER-SCORE
------------------------------------------------------- */

.player-pot-display
{
  color: #FFF;
  display: block;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  right: 0.3em;
  top: 0.3em;
}

.player-pot-display::before
{
  content: '$';
  color: gold;
  display: block;
  font-size: 0.6em;
  height: 0.5em;
  position: absolute;
  top: 0.2em;
  left: -0.6em;
  width: 0.5em;
}
